node_modules/
yarn.lock
package-lock.json
.npm/
.yarn/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
.vscode/
.idea/
.DS_Store  # MacOS
Thumbs.db  # Windows
*.swp      # Arquivos de backup do Vim
*.log
*.tmp
.sass-cache/
.cache/
.env
.env.local
.env.*.local
*.pid
*.seed
.pnpm-debug.log
