@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

.logo {
    height: 85px;
    width: 200px;   
    margin-right: 20%;
}
.text-logo {
    color: #262323;
    font-family: 'Red rose', sans-serif;

}

.navbar-nav {
    flex: 1;
    justify-content: center;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    border-radius: 5px;
    padding: 10px 15px;
    background: #f0f0f0; 
    background: linear-gradient(135deg, #f5f5f5, #eaeaea);
    transition: background ease, color 0.3s ease; 
    color: #0e0d0d; 
}

.nav-link:hover {
    color: white !important;
    background: linear-gradient(135deg, #ec3434, #f87575);
}
